@model MusicPortal.Models.LoginModel

<div class="dv_w " style="height:200px">
    <div class="dv1 dv_w " style=" margin-left:0px;height:200px"> 
        <div class="dv_w">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="div_l3n dv_w">
                    <div class="div_l4 dv_w">
                        <label asp-for="Login" class="label3"></label>
                        <input asp-for="Login" class="input1" type="text" />
                    </div>
                    <span asp-validation-for="Login" class="span_error dv_w"></span>
                </div>

                <div class="div_l3n dv_w">
                    <div class="div_l4 dv_w">
                        <label asp-for="Password" class="label3"></label>
                        <input asp-for="Password" class="input1" />
                    </div>
                    <span asp-validation-for="Password" class="span_error dv_w"></span>
                </div>
            </form>
        </div> 
    </div>
</div>